In [1]:
import pandas as pd
df = pd.read_csv("whether_data.csv")
df

        Day  temparature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           32          2  Sunny

In [3]:
df.shape

(6, 4)

In [4]:
rows,column = df.shape

rows

6

In [5]:
df.head()

        Day  temparature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain

In [6]:
df.tail() #last five rows

        Day  temparature  windspeed  event
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           32          2  Sunny

In [7]:
df.tail(1) #last one raws pass the parameter

        Day  temparature  windspeed  event
5  1/6/2017           32          2  Sunny

In [8]:
df[2:5]

        Day  temparature  windspeed event
2  1/3/2017           28          2  Snow
3  1/4/2017           24          7  Snow
4  1/5/2017           32          4  Rain

In [9]:
df.columns

Index(['Day', 'temparature', 'windspeed', 'event'], dtype='object')

In [11]:
df.Day # Print row

0    1/1/2017
1    1/2/2017
2    1/3/2017
3    1/4/2017
4    1/5/2017
5    1/6/2017
Name: Day, dtype: object

In [12]:
df.event # Print row

0     Rain
1    Sunny
2     Snow
3     Snow
4     Rain
5    Sunny
Name: event, dtype: object

In [15]:
type (df['event'])

pandas.core.series.Series

In [16]:
df

        Day  temparature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           32          2  Sunny

In [18]:
df[['event','Day','temparature']]

   event       Day  temparature
0   Rain  1/1/2017           32
1  Sunny  1/2/2017           35
2   Snow  1/3/2017           28
3   Snow  1/4/2017           24
4   Rain  1/5/2017           32
5  Sunny  1/6/2017           32

In [19]:
df

        Day  temparature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           32          2  Sunny

In [20]:
df['temparature']

0    32
1    35
2    28
3    24
4    32
5    32
Name: temparature, dtype: int64

In [22]:
df['temparature'].max() #maximum temparature

35

In [23]:
df['temparature'].mean()

30.5

In [24]:
df['temparature'].std()

3.8858718455450894

In [25]:
df.describe()

       temparature  windspeed
count     6.000000   6.000000
mean     30.500000   4.666667
std       3.885872   2.338090
min      24.000000   2.000000
25%      29.000000   2.500000
50%      32.000000   5.000000
75%      32.000000   6.750000
max      35.000000   7.000000

In [26]:
df

        Day  temparature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           32          2  Sunny

In [28]:
df[df.temparature>=25]

        Day  temparature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           32          2  Sunny

In [29]:
df[df.temparature == df.temparature.max()]

        Day  temparature  windspeed  event
1  1/2/2017           35          7  Sunny

In [33]:
df['Day'][df.temparature == df['temparature'].max()]

1    1/2/2017
Name: Day, dtype: object

In [35]:
df[['Day','temparature']][df.temparature == df['temparature'].max()]

        Day  temparature
1  1/2/2017           35

In [36]:
df

        Day  temparature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           32          2  Sunny

In [39]:
df.index

RangeIndex(start=0, stop=6, step=1)

In [40]:
df.set_index('Day')

          temparature  windspeed  event
Day
1/1/2017           32          6   Rain
1/2/2017           35          7  Sunny
1/3/2017           28          2   Snow
1/4/2017           24          7   Snow
1/5/2017           32          4   Rain
1/6/2017           32          2  Sunny

In [42]:
df.set_index('Day',inplace=True)# add to new one

KeyError: "None of ['Day'] are in the columns"

In [43]:
df

          temparature  windspeed  event
Day
1/1/2017           32          6   Rain
1/2/2017           35          7  Sunny
1/3/2017           28          2   Snow
1/4/2017           24          7   Snow
1/5/2017           32          4   Rain
1/6/2017           32          2  Sunny

In [44]:
df.loc['1/3/2017']

temparature      28
windspeed         2
event          Snow
Name: 1/3/2017, dtype: object

In [45]:
df.reset_index(inplace=True)#reset

In [46]:
df

        Day  temparature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           32          2  Sunny

In [47]:
df.set_index('event',inplace=True)# add to new one

In [48]:
df

            Day  temparature  windspeed
event
Rain   1/1/2017           32          6
Sunny  1/2/2017           35          7
Snow   1/3/2017           28          2
Snow   1/4/2017           24          7
Rain   1/5/2017           32          4
Sunny  1/6/2017           32          2

In [49]:
df.loc['Snow']

            Day  temparature  windspeed
event
Snow   1/3/2017           28          2
Snow   1/4/2017           24          7